@font-face {
  font-family: AlexBrush-Regular;
  src: url("../fonts/AlexBrush-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 100%;
}
body {
  padding-top: 9vh;
}

* {
  margin: 0;
}

a:visited,
a:link,
a:hover,
a:active {
  color: #4a4646;
}

.bar {
  text-decoration: none; /*remove line*/
  font-size: 16px;
  margin: 10px;
}

.whiteBar {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  border-top: 0.5px solid;
  border-bottom: 0.5px solid;
  border-color: #eddfdf;
  background-color: null;
  height: 6vh;
}
.signUpNav {
  margin-right: 1.5rem;
  text-decoration: none;
  font-size: 1.5rem;
}
.searchIcon{
  margin-right: 1.5rem;
  text-decoration: none;
  font-size: 2rem;
}
.login-text{
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
@media only screen and (max-width: 900px) {
  .whiteBar {
    display: none; /*remove white bar when width <700px */
  }
  .signUpNav {
    display: none;
  }
  .small-user {
    display: flex;
    margin-right: 1.5rem;
    text-decoration: none;
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 400px) {
  html {
    font-size: 65%;
  }
}

/* Drawer Nav */
nav {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
}

.mobile-nav-open-icon {
  font-size: 2rem;
  cursor: pointer;
  margin-right: 2rem;
  color: black;
  margin-left: 3rem;
}

.backdrop-container {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-animation: fadeIn 1.2s ease-in-out;
  animation: fadeIn 1.2s ease-in-out;
}

.sidenav-container {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: #ece0d7;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidenav-container a {
  text-decoration: none;
  font-size: 1.3rem;
  color: #4a4646;
  display: block;
  transition: 0.3s;
  margin: 10px 0;
}

.sidenav-container a:hover {
  color: white;
}

.sidenav-container .closebtn {
  font-size: 3rem;
  font-weight: 3rem;
  color: #818181;
  padding-right: 1rem;
}

.sidenav-container .drawer-close-button {
  height: 3rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 3rem;
}

/*show drawer nav for smaller screens */
@media screen and (min-width: 700px) {
  .mobile-nav-open-icon {
    display: none;
  }
}

.footer {
  margin-top: 2.5rem;
  background-color: #f0e2d1;
  width: 100%;
}

.main-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.footer-component {
  display: flex;
  flex-direction: column;
  width: 33%;
  margin-top: 2rem;
}

.footer-heading {
  line-height: 30px;
  font-size: 1.9rem;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 3rem;
  border-bottom: 1px solid;
}
.footer-sub-heading {
  margin-left: 3rem;
  font-size: 1.8rem;
  margin-top:2rem;
  margin-bottom:2rem
}

.footer-text {
  line-height: 30px;
  font-size: 1.5rem;
  margin-left: 3rem;
  margin-top:1.5rem;
  margin-bottom:1.5rem

}
@media screen and (max-width: 500px) {
  .footer-component {
    width: 100%;
  }
}
